#loc-list{
  background-color: #6e67fc;
}

#loc-list h2{
  font-size: 50px;
  font-family: serif;
}

.loc-list-item{
  width: 500px;
  background-color: #c4efff;
  padding: 4px;
  margin: 20px;
}

#contact{
  border: 20px groove #c7dde5;
  width: 400px;
  background-color: #99d1e5;
  position: fixed;
  float: right;
  right: 0px;
}
